.navigation {
  background-color: $main-color;
  min-height: 64px;
  &__container{
    min-height: 64px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 64px;
  }
  &__menu {
    flex: 1 1 auto;
  }
  &__logo {
    color: #f4f5f6;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 15px 15px 15px;
    white-space: nowrap;
    position: relative;
    z-index: 10;
  }
}



