.title{
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 30px;
  &:after{
    content: '';
    display: block;
    height: 4px;
    width: 70px;
    position: relative;
    background: #E87E04;
    margin: 15px auto 0 auto;
    border: 0;
  }
}

