@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: local('#{$file_name}'),
      url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}
@import 'basic/fonts.scss';
@import 'basic/ibg.scss';
@import 'basic/null.scss';
@import 'basic/variables.scss';
@import 'basic/mixins.scss';
@import 'basic/adaptive_properties.scss';

@import 'modules/container.scss';
@import 'modules/button.scss';
@import 'modules/links.scss';
@import 'modules/main.scss';
@import 'modules/about.scss';
@import 'modules/menu.scss';
@import 'modules/title.scss';
@import 'modules/navigation.scss';
@import 'modules/iconsFont.css';
@import 'modules/iconFonts.scss';
@import 'modules/column.scss';
@import 'modules/services.scss';
@import 'modules/portfolio.scss';
@import 'modules/categories.scss';
@import 'modules/hover.scss';
@import 'modules/modal.scss';
@import 'modules/modal-portfolio.scss';
@import 'modules/skills.scss';
@import 'modules/chart.scss';
@import 'modules/education.scss';
@import 'modules/timeline.scss';

@import 'basic/dinamicClasses.scss';